<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <!--見出し-->
      <div class="row pt-5 pb-3">
        <h3>本日のスケジュール一覧
        <!--  <%#= Date.current.strftime('%m月%d日') %>-->
        <!--プルダウンで看護師名を選択して切替を押下すると、該当看護師の当日分のスケジュールshowページでへ遷移する-->
        <!--  <%#= form_with url: schedule_path do |f| %>-->
        <!--      <%#= f.collection_select :nurse_id, @nurses, :id, :name %>さんのスケジュール-->
        <!--      <%#= f.submit "表示スケジュールの切り替え", class: "btn-sm btn-secondary" %>-->
        <!--  <%# end %>-->
        </h3>
      </div>


      <!--スケジュール表示-->
      <% @schedules.each do |schedule| %>
        <%= schedule.nurse.name %> さんのスケジュール
        <%#= render 'schedule', task_lists: TaskList.where(schedule_id: schedule.id), task_list: @task_list, schedule: schedule %>
      <% end %>

    </div>
  </div>
</div>