<div class="container">
  <div class="row">
    <div class="col mx-auto">

      <div class="row py-5">
        <h3>管理者トップページ</h3>
      </div>

      <div class="row p-5 shadow">
        <div class="row mx-5">
          管理者ページでは、患者の登録と看護師の出勤登録が可能です。</br>
          看護師画面では、出勤中の看護師のスケジュールを閲覧することができます。
        </div>

        <div class="row mx-5 py-4">
          <div class="col-2">
            <strong>
            <%= link_to "管理者編集へ", edit_admin_admin_path(current_admin), class: 'admin_link' %>
            </strong>
          </div>
          <div class="col-2">
            <strong>
            <%= link_to "患者登録へ", new_admin_patient_path, class: 'admin_link' %>
            </strong>
          </div>
          <div class="col-2">
            <strong>
            <%= link_to "看護師出勤登録へ", admin_nurses_path, class: 'admin_link' %>
            </strong>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>