/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

// 背景色の設定
html, body{
  height: 100%;
}
.full-page{
  height: 100%;
  background: #fffff9;
}

// ヘッダーのリンクの色
.header_link{
  text-decoration: none;
  color: #fffff9 ;
}

// admin/topのリンクの色
.admin_link{
  text-decoration: none;
  color: #007bbb ;
}

.body_link{
  text-decoration: none;
  color: #007bbb ;
}

// fontawesomeの色
.fa-pencil-alt {
  color: #007bbb ;
}