/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

// 背景色の設定
html, body{
  height: 100%;
}
.full-page{
  height: 100%;
  background: #fffff9;
}

// ヘッダーのリンクの色
.header_link{
  text-decoration: none;
  color: #fffff9 ;
}

// admin/topのリンクの色
.admin_link{
  text-decoration: none;
  color: #007bbb ;
}

.body_link{
  text-decoration: none;
  color: #007bbb ;
}
.task_link{
  text-decoration: none;

}

// fontawesomeの色
.fa-pencil-alt {
  color: #007bbb ;
}
.fa-trash{
  color: #007bbb ;
}
.fa-plus-square{
  color: #007bbb ;
}

// ボタンの色変更
.btn-dark{
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}

// ヘッダーログイン中看護師表示の文字色
.login_nurse{
  color: #fffff9 ;
}

// 文字のサイズを小さくするクラス
.small{
  font-size:80% ;
}
// 文字のサイズを太くくするクラス
.learge{
  font-weight: bold ;
}
// スケジュールタイトルの装飾
.schedule_title{
  color: #504946 ;
  font-size:80% ;
}

// タスクの優先度によって、アンダーラインの色を変更する
.task_rate_1{
  text-decoration:underline;
  text-decoration-color: #89c997;
  text-decoration-thickness: 3px;
}
.task_rate_2{
  text-decoration:underline;
  text-decoration-color: #eec362;
  text-decoration-thickness: 3px;
}
.task_rate_3{
  text-decoration:underline;
  text-decoration-color: #f19072;
  text-decoration-thickness: 3px;
}


// タスクの表示される位置
.task_position-wrp{
  position: relative;
}

.task_position{
  position: absolute;
  left: var(--task_p)
}

// 時間入力フォームの横幅
.time_form {
  width: auto;
  display: inline-block;
  }